.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(31, 214, 86);
  width: 70%;
  margin: auto;
  height: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  background-color: rgb(36, 123, 204);
  color: aliceblue;
  font-size: 20px;
  opacity: .6;
  text-decoration: none;

  padding: 5px;
  border-radius: 8px;

}
.btn:hover{
  opacity: 1;
}